.btn {
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font: inherit;
  line-height: 1;
  cursor: pointer;
  user-select: none;

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 2px rgba(#ffd43b, 0.6);
  }

  &_size_s {
    font-size: 1.4rem;
  }

  &_rounded {
    border-radius: 50px;
  }

  &_transparent {
    border-color: #868e96;
    background-color: transparent;
    color: #495057;

    &:focus,
    &:hover {
      background-color: #868e96;
      color: #f1f3f5;
    }
  }
}
