.page {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  min-width: 320px;
  height: 100%;
  background-color: #f1f3f5;
  background-image: url('//stasis.ml/hello.gif');
  color: #343a40;
}
