{
    "rules": {
        "at-rule-empty-line-before": ["always",
        {
            "except": ["first-nested", "blockless-after-blockless"],
            "ignore": ["after-comment"]
        }],
        "at-rule-semicolon-newline-after": "always",
        "block-closing-brace-newline-after": "always",
        "block-closing-brace-newline-before": "always-multi-line",
        "block-opening-brace-newline-after": "always-multi-line",
        "block-opening-brace-newline-before": null,
        "block-opening-brace-space-after": "always-single-line",
        "block-opening-brace-space-before": "always",
        "color-hex-case": "lower",
        "color-hex-length": "short",
        "custom-property-empty-line-before": "never",
        "custom-property-pattern": null,
        "declaration-colon-space-after": "always-single-line",
        "declaration-colon-space-before": "never",
        "declaration-empty-line-before": null,
        "indentation": [2, { "except": ["param"] }],
        "length-zero-no-unit": true,
        "number-leading-zero": "always",
        "number-no-trailing-zeros": true,
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-list-comma-newline-after": "always-multi-line",
        "selector-list-comma-newline-before": "never-multi-line",
        "selector-list-comma-space-after": "always-single-line",
        "selector-list-comma-space-before": "never",
        "shorthand-property-no-redundant-values": true,
        "string-quotes": "single"
    }
}
