- var isCSSDeferred = false;
- var injectCSS = true
- var injectJS = true

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    block meta
    block title
      title Untitled
    block link
    if !isCSSDeferred
      if injectCSS
        style
          // inject:head:css
          // endinject
      else
        // inject:css
        // endinject

  body.page
    block body
      p Content block

    ='\n\n'
    // JavaScript
    if injectJS
      script
        // inject:body:js
        // endinject
    else
      // inject:js
      // endinject

    if isCSSDeferred
      script.
        window.addEventListener('DOMContentLoaded', function() {
          // Loading CSS without blocking render
          var noscript = document.getElementById('deferred-styles'),
              div = document.createElement('div');
          div.innerHTML = noscript.textContent;
          document.body.appendChild(div);
          noscript.parentElement.removeChild(noscript);
        });

      ='\n\n'
      // CSS
      ='\n'
      noscript#deferred-styles
        // inject:css
        // endinject
      ='\n'

