/*!
 * MQ Helper
 */
body:after {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background: #000;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 8px;
  border-radius: 30px;
  opacity: 0.8;

  @media screen and (width >= 320px) and (width < $mq_phone) {
    content: 'Phone: 320px - $mq_phone';
  }

  @media screen and (width >= $mq_phone) and (width < $mq_tablet) {
    content: 'Tablet: $mq_phone - $mq_tablet';
  }

  @media screen and (width >= $mq_tablet) and (width < $mq_desktop) {
    content: 'Desktop: $mq_tablet - $mq_desktop';
  }

  @media screen and (width >= $mq_desktop) and (width < $mq_wide) {
    content: 'Wide: $mq_desktop - $mq_wide';
  }
}
