/*!
 * Tiny CSS reset
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-size-adjust: none;
}

/*
 * A modern CSS reset (with caveats)
 * https://benfrain.com/a-modern-css-reset-with-caveats/
 */
/*
* {
  all: unset;
}

base, basefont, datalist, head, meta, script, style, title,
noembed, param, template {
  display: none;
}
 */
