/*!
 * Typography
 */
:root {
  font: 62.5%/2.4 $font_base; /* 10px/24px */
  /* -webkit-font-smoothing: antialiased; */
  /* text-rendering: optimizeLegibility; */
  /* cursor: default; */
  /* -moz-osx-font-smoothing: grayscale; */
}

body {
  background-color: #fff;
  color: #141414;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;
}

/* p {
  margin-bottom: 1lh;

  &:last-child {
    margin-bottom: 0;
  }
} */

/* .img {
  border: 0;
  vertical-align: middle;

  &_responsive {
    max-width: 100%;
    height: auto;
  }
} */
